body 
{  
  background-color: black;
  margin: 0;    
}
p 
{
  color : royalblue;
}

.centerText 
{
  text-align: center;
}

.stylized
{
  font-family: fantasy;
}

canvas 
{ 
  width: 100%; 
  height: 100%; 
}